# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union

# Linguist
*.cs linguist-language=C#
*.css linguist-vendored
*.py linguist-vendored
*.vb linguist-vendored
